body{
  margin:0;

  & img{
    width: 100%;
    height: auto;
  }
  
  & .GlobalWrapper{
    & .wrapper{
      display: none; // デフォルトのスライダーを使う場合は表示

      & ul{
        text-align: center;
        margin: 0;
        padding: 0;
        list-style: none;
        
        & #btnWrap{
          display: flex;
          justify-content: space-around;
          width: clamp(160px, 100%, 320px);
          margin: auto;
          
          & .btns{
            appearance: none;
            border: 0;
            width: 12px;
            height: 12px;
            background-color: #333;
            border-radius: 50%;
            cursor: pointer;
            
            &:hover{
              opacity: .5;
            }
          }
        }
      }
    }
  }

  & .imgSliders{
    // display: none; // エフェクト付き・任意の画像を使ったスライダーを使用する場合は表示
    margin: 0;
    padding: 0;
    height: calc(100vh/2);
    overflow: hidden;


    & ul{
      display: flex;
      justify-content: space-around;
      width: clamp(160px, 100%, 960px);
      margin: auto;
      list-style: none;
      position: relative;
      
      & li{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        filter: blur(56px);

        &.inView{
          transition: opacity .5s, visibility .5s, filter .5s;
          opacity: 1;
          visibility: visible;
          filter: blur(0px);
        }

        & a{
          text-decoration: none;
          & img{
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  @media screen and (min-width: 600px) {
    & .imgSliders{
      height: calc(100vh/1.2);
    }
  }
}
